* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  text-decoration: none;

  border: none;

  outline: none;

  scroll-behavior: smooth;

  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #080808;

  --second-bg-color: #131313;

  --text-color: white;

  --main-color: rgb(124, 172, 172);

  /* rgb(124, 172, 172) */
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 12% 4rem;
  background: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.logo span {
  text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 12% 10rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 3rem;
}

span {
  color: var(--main-color);
}

.logo span {
  color: var(--main-color);
}

.home-content h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}

.home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.home-img {
  border-radius: 50%;
}

.home-img img {
  position: relative;
  width: 300px;
  height: 340px;
  top: 2rem;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

.home-content p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8;
  max-width: 1000px;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 2px solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  color: var(--text-color);
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 1.2rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: none;
  font-size: 1.3rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: 0 0 25px var(--main-color);
}

.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "DevOps Engineer";
  color: var(--main-color);
  animation: words 15s steps(14) infinite;
}

.text-animation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--main-color);
  right: -8px;
  animation: typing 15s steps(14) infinite, cursor 0.6s infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid transparent;
  }
}

@keyframes words {
  0% {
    content: "DevOps Engineer";
  }

  33% {
    content: "Python Developer";
  }

  66% {
    content: "Software Engineer";
  }
}

@keyframes typing {

  0%,
  33%,
  66%,
  100% {
    width: 0;
  }

  15%,
  48%,
  81% {
    width: calc(100% + 8px);
  }
}



.heading {

  font-size: 8rem;

  text-align: center;

  margin: 5rem 0;

}

.education {

  padding: 100px 15px;

  background:

    var(--second-bg-color);

}

.education h2 {

  margin-bottom: 5rem;

}

.timeline-items {

  max-width: 1200px;

  margin: auto;

  display: flex;

  flex-wrap: wrap;

  position: relative;

}

.timeline-items::before {

  content: "";

  position: absolute;

  width: 5px;

  height: 100%;

  background-color: var(--main-color);

  left: calc(50% - 1px);

}

.timeline-item {

  margin-bottom: 40px;

  width: 100%;

  position: relative;

}

.timeline-item:last-child {

  margin-bottom: 0;

}

.timeline-item:nth-child(odd) {

  padding-right: calc(50% + 30px);

  text-align: right;

}

.timeline-item:nth-child(even) {

  padding-left: calc(50% + 30px);

}

.timeline-dot {

  height: 21px;

  width: 21px;

  background-color: var(--main-color);

  box-shadow: 0 0 25px var(--main-color),

    0 0 50px var(--main-color);

  position: absolute;

  left: calc(50% - 8px);

  border-radius: 50%;

  top: 30px;

}

.timeline-date {

  font-size: 20px;

  font-weight: 800;

  color: white;

  margin-top: 25px;

  margin-bottom: 35px;


}

.timeline-content {

  background-color: var(--bg-color);

  border: 3px solid var(--main-color);

  padding: 30px 50px;

  border-radius: 4rem;

  box-shadow: 0 0 10px var(--main-color);

  cursor: pointer;

  transition: 0.3s ease-in-out;

}

.timeline-content:hover {

  transform: scale(1.05);

  box-shadow: 0 0 25px var(--main-color);

}

.timeline-content h3 {

  font-size: 20px;

  color: white;

  margin: 0 0 10px;

  font-weight: 700;

}

.timeline-content p {

  color: white;

  font-size: 16px;

  font-weight: 300;

  line-height: 22px;

  text-align: justify;

}

.timeline-content li {

  color: white;

  font-size: 16px;

  font-weight: 300;

  line-height: 22px;

}

::-webkit-scrollbar {
  width: 9px;  /* Width of the vertical scrollbar */
  height: 20px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;  /* Optional: For rounded scrollbar */
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  width: 5px;
}


.services {
  background: var(--bg-color);
  color: black;
}

.services h2 {
  color: white;
  margin-bottom: 5rem;
}

.services-container {
  display: grid;
  grid-template-columns: 1;
  align-items: center;
  gap: 2.5rem;
}

.services-box {
  background-color: var(--main-color);
  height: auto;
  border-radius: 3rem;
  border: 5px solid transparent;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  flex-wrap: wrap;
}

.services-box:hover {
  background: white;
  color: black;
  border: 5px solid var(--main-color);
  transition: scale(1.03);
}

.services-box .services-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: auto;
  justify-content: left;
  align-items: baseline;
  padding: 5rem 5rem;
}

.services-info h4 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 2;
}

.services-info p {
  font-size: 1.6rem;
  font-weight: 600;
  max-height: 100px;
  line-height: 1.7;
  margin: auto;
}


.projects {
  background: var(--bg-color);
  color: black;
}

.projects h2 {
  color: white;
  margin-bottom: 5rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.projects-box {
  background-color: rgb(255, 249, 249);
  border-radius: 3rem;
  border: 5px solid var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  height: auto;
}

.projects-box:hover {
  background: rgb(145, 214, 214);
  color: black;
  border: 5px solid white;
  transition: scale(1.03);
}

.projects-box .projects-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  padding: 2rem 2rem;
  margin: 5px;
}

.projects-info h4 {
  text-align: center;
  padding-top: 5px;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 15px;
}

.projects-info li {
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  max-height: 100px;
  line-height: 1.7;
  margin: auto 0;
}

.projects-info img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  border: 5px solid rgb(101, 98, 98);
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  border-radius: 15px;
  width: 70rem;
  height: 20rem;
  border: 2.5px solid var(--main-color);
  padding: 1.5rem 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 1rem;
}

.timeline-content ul {
  list-style-position: inside;
  text-align: left;
  margin-left: 0;
  padding-left: 20px;
  margin-top: 20px;
}

.timeline-content ul li {
  text-align: justify;
  margin-bottom: 10px;
}

.techno {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  max-width: 100%;
}

.techno img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  flex-shrink: 0;
}

.contact {
  background: var(--bg-color);
}

.contact h2 {
  color: white;
  margin-bottom: 3rem;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  gap: 3rem;
  text-align: center;
}

.contact-form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-form .input-box input,
.contact-form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem auto;
  resize: none;
}

.contact-form .btn {
  margin-top: 2rem;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background: var(--second-bg-color);
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: var(--main-color);
}

.footer .social a {
  font-size: 25px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease-in-out;
}

.footer .social a:hover {
  transform: scale(1.2)translateY(-10px);
  background: var(--main-color);
  color: black;
  box-shadow: 0 0 25px var(--main-color);
}

.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer .copyright {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: white;
}

.certificates-container{
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.scroll-container::-webkit-scrollbar {
  height: 10px; /* Height of the horizontal scrollbar */
}

.scroll-container::-webkit-scrollbar-track {
  background-color: transparent;
  width: 5px;
  height: 8px; /* Height of the horizontal scrollbar */
  margin: 50px;
  
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgb(124, 172, 172);
  border-radius: 10px;  /* Optional: For rounded scrollbar */
  width: 30%;
}

.timeline-content1 img {
  width: 300px;
  height: 260px;
  padding-right: 2rem;
}

.timeline-content1 {

  background-color: var(--bg-color);

  border: 3px solid var(--main-color);

  padding: 30px 50px;

  border-radius: 4rem;

  box-shadow: 0 0 10px var(--main-color);

  cursor: pointer;

  margin-left: 12rem;

  margin-right: 12rem;

}

@media(max-width:1285px) {

  html {

    font-size: 55%;

  }

  .services-container {

    padding-bottom: 7rem;

    grid-template-columns: repeat (2, 1fr);

    margin: 0 5rem;

  }

}

@media (max-width:991px) {

  header {

    padding: 2rem 3%;

  }

  section {

    padding: 10rem 3% 2rem;

  }

  .timeline-items::before {

    left: 7px;

  }

  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }

  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {

    padding-left: 37px;

  }

  .timeline-dot {

    left: 0;

  }

  .services {

    padding-bottom: 7rem;

  }

  .testimonials .wrapper {
    grid-template-columns: repeat (1, 1fr);

  }

  .contact form {

    flex-direction: column;

  }

  .footer {

    padding: 2rem 3%;

  }

}

@media (max-width:1160px) {

  #menu-icon {

    display: block;

  }

  .navbar {

    position: absolute;

    top: 100%;

    right: 0;

    width: 20%;

    padding: 1rem 3%;

    background: rgba(0, 0, 0, 0.8);

    backdrop-filter: blur (20px);

    border-radius: 2rem;

    border: 2px solid var(--main-color);

    border-bottom: 2px solid var(--main-color);

    display: none;

  }

  .navbar.active {

    display: block;

  }

  .navbar a {

    display: block;

    font-size: 2rem;

    margin: 3rem 0;

    color: white;

  }

  .home {

    flex-direction: column-reverse;

    margin: 5rem 4rem;

  }

  .home-content h3 {

    font-size: 2.6rem;

  }

  .home-content h1{
    font-size: 8rem;
    margin-top:1rem;
  }

  .home-content p{

    max-width: 600px;
    
    margin: 0 auto;
    
    }
    
    /* .home-img img{
    
    width: 40vw;
    
    }  */
    
    .services h2{
    
    margin-bottom: 3rem;
    
    }
    
    .services-container{
    
    grid-template-columns: repeat (1,1fr);
    
    }
}